[submodule "submodules/gpui-component"]
	path = submodules/gpui-component
	url = https://github.com/TonyMarkham/gpui-component.git
[submodule "submodules/zed"]
	path = submodules/zed
	url = https://github.com/TonyMarkham/zed.git
[submodule "submodules/gpui-template"]
	path = submodules/gpui-template
	url = https://github.com/TonyMarkham/gpui-template.git
